# Build output
bin/
obj/

# .NET
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates
TestResults/
coverage/
*.coverage
*.coveragexml

# VS Code
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/extensions.json

# Visual Studio
.vs/

# Rider / ReSharper
.idea/
_ReSharper*/
*.DotSettings.user

# NuGet
*.nupkg
*.snupkg
packages/

# Logs
*.log

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
